################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

################################################################################
#                  Microsoft(R) Visual Studio is amazing!
################################################################################


/.vs
/.idea
/CMakePresets.json
/out
/cmake-build-debug
/.fleet
/.cache
