################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App.exe
/.vs
/.idea
/CMakePresets.json
/out/build/x64-debug
/cmake-build-debug
